@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    317.432.9409
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ethan@xykware.com">ethan@xykware.com</a><br />
</address>