@model IEnumerable<XykChat.Models.ChannelModels.ChannelListItem>

@{
    ViewBag.Title = "View";
}

<h2>Channels</h2>

<p>
    @Html.ActionLink("Create New", "AddChannel", new { id = ViewBag.RoomID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink($"{Html.DisplayFor(modelItem => item.Name)}", "Index", "Channel", new { id = item.ID }, null)
        </td>
    </tr>
}

</table>
